@import 'elements.css';
@import 'transitions.css';
@source inline("w-[50%]");

:root {
    --color-robot: #00c0b5;
    --font-mono: 'JetBrains Mono';
}

@font-face {
    font-family: 'OCR-A';
    src: url('/fonts/OCRA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OCR-RBCN';
    src: url('/fonts/OCR-RBCN.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Courier Prime';
    src: url('/fonts/CourierPrime/CourierPrime-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono[wght].woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Courier Code';
    src: url('/fonts/CourierCode-Roman.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Courier Code';
    src: url('/fonts/CourierCode-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'OCR-X';
    src: url('/fonts/OCR-X/OCR-XTrial-Black.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'OCR-X';
    src: url('/fonts/OCR-X/OCR-XTrial-Bold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'OCR-X';
    src: url('/fonts/OCR-X/OCR-XTrial-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'OCR-X';
    src: url('/fonts/OCR-X/OCR-XTrial-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'OCR-X';
    src: url('/fonts/OCR-X/OCR-XTrial-Light.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'OCR-X';
    src: url('/fonts/OCR-X/OCR-XTrial-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}
